@media screen and (min-width: 769px) {

  .row {
    width: 100%;
    max-width: 992px;
  }
}

@media screen and (max-width: 768px) {

  .row {
    width: 100%;
  }

  #lezioni img{
    height: 150px;
    width: auto;
  }

  img{
    width: 80%;
    height: auto;
  }

  #why .row img{
    width: 50%;
  }
}

@media screen and (max-width: 420px) {

  /* BLOCCO LEZIONI */
  #lezioni .row > .left, #lezioni .row > .right{
    width: 100%;
    float: none;
  }

  /* BLOCCO STEPS */
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    float: none;
    width: 100%;
  }
}
